# fastapi==0.95.2
# uvicorn[standard]==0.22.0
# easyocr==1.6.2
# pillow==10.0.0
# pdf2image==1.16.3
# pdfplumber==0.11.2
# mammoth==1.4.19
# numpy==1.25.0

fastapi==0.95.2
uvicorn[standard]==0.22.0

# OCR libraries
easyocr==1.7.1
pillow==9.5.0

# Image + numpy dependencies
numpy==1.23.5
torch==2.0.1
torchvision==0.15.2

# Extra required dependencies
python-multipart
